# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Env / Secrets
.env
.env.*
!.env.example
.venv/
venv/

# Go
bin/
coverage.out
*.test
*.prof

# Docker
*.pid

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
tfplan
*.backup
backend.conf.generated
encryption-key-*.txt
.terraformrc


# Generated
tmp/
dist/
site/
site-docs/site/

# Python cache
__pycache__/
*.pyc
